<style>
    .card-img-top {
      width: 200px;
      height: 200px;
    }
    .custom-divider {
      border-top: 3px solid #343a40;
      width: 90%;
      margin: 0 auto 2rem auto;
    }
  </style>
  
  <!-- + tarjetas -->
  <div class="container mt-5">
    <hr class="custom-divider">
    <h2 class="text-center mb-4">Power Rankings de la Semana</h2>
    <div class="row d-flex justify-content-center">
      <div class="card mx-2 shadow-lg rounded-circle" style="width: 15rem;">
        <div class="d-flex justify-content-center align-items-center" style="height: 200px;">
          <img class="card-img-top" src="https://a.espncdn.com/combiner/i?img=/i/teamlogos/nfl/500/kc.png&h=200&w=200" alt="Kansas City Chiefs" style="max-height: 100%; max-width: 100%;">
        </div>
        <div class="card-body text-center">
          <h4 class="card-title">Kansas City Chiefs</h4>
          <p class="card-text">Rank 1</p>
        </div>
      </div>
  
      <div class="card mx-2 shadow-lg rounded-circle" style="width: 15rem;">
        <div class="d-flex justify-content-center align-items-center" style="height: 200px;">
          <img class="card-img-top" src="https://a.espncdn.com/combiner/i?img=/i/teamlogos/nfl/500/buf.png&h=200&w=200" alt="Buffalo Bills" style="max-height: 100%; max-width: 100%;">
        </div>
        <div class="card-body text-center">
          <h4 class="card-title">Buffalo Bills</h4>
          <p class="card-text">Rank 2</p>
        </div>
      </div>
  
      <div class="card mx-2 shadow-lg rounded-circle" style="width: 15rem;">
        <div class="d-flex justify-content-center align-items-center" style="height: 200px;">
          <img class="card-img-top" src="https://a.espncdn.com/combiner/i?img=/i/teamlogos/nfl/500/min.png&h=200&w=200" alt="Minnesota Vikings" style="max-height: 100%; max-width: 100%;">
        </div>
        <div class="card-body text-center">
          <h4 class="card-title">Minnesota Vikings</h4>
          <p class="card-text">Rank 3</p>
        </div>
      </div>
  
      <div class="card mx-2 shadow-lg rounded-circle" style="width: 15rem;">
        <div class="d-flex justify-content-center align-items-center" style="height: 200px;">
          <img class="card-img-top" src="https://a.espncdn.com/combiner/i?img=/i/teamlogos/nfl/500/sea.png&h=200&w=200" alt="Seattle Seahawks" style="max-height: 100%; max-width: 100%;">
        </div>
        <div class="card-body text-center">
          <h4 class="card-title">Seattle Seahawks</h4>
          <p class="card-text">Rank 4</p>
        </div>
      </div>
    </div>
  </div>