<!-- Carousel -->
<div id="carouselId" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
          <img class="w-100" src="https://myfox28columbus.com/resources/media2/16x9/full/1015/center/80/a9931767-c533-490f-ba73-28810dfa2bd3-large16x9_AP23217640256181.jpg" alt="Single slide">
      </div>
  </div>
</div>

<div class="container-fluid p-0 mt-5 mx-auto"
  style="background-image: url('https://cdn.britannica.com/51/190751-131-B431C216/soccer-ball-goal.jpg'); background-size: cover; background-position: center; height: 50vh; max-width: 80%;">
  <div class="d-flex flex-column justify-content-center align-items-center text-white" style="height: 100%;">
    <h1 class="display-3 font-weight-bold" style="color: white;">Sports Fantasy is Back</h1>
    <div class="mt-4">
      <button class="btn btn-primary btn-lg mx-2">Unirte</button>
      <button class="btn btn-secondary btn-lg mx-2">Crear Liga</button>
    </div>
  </div>
</div>

<div class="container mt-5">
  <h2 class="text-center mb-4">Jugadores Destacados</h2>
  <div class="row">
    <div class="col-md-3">
      <div class="card shadow-lg">
        <img class="card-img-top"
          src="https://i.guim.co.uk/img/media/738ce55b0210242ed89525dc7217389fcdd954f6/867_295_3097_1858/master/3097.jpg?width=1200&height=1200&quality=85&auto=format&fit=crop&s=93c023f0b3182e74b5320381712d32d3"
          alt="Christian McCaffrey">
        <div class="card-body text-center">
          <h5 class="card-title">Erling Haaland</h5>
          <p class="card-text"><strong>Equipo:</strong> Manchester City</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card shadow-lg">
        <img class="card-img-top"
          src="https://images.ladbible.com/resize?type=webp&quality=70&width=3840&fit=contain&gravity=auto&url=https://images.ladbiblegroup.com/v3/assets/blta90d05ad41a54a71/blt89ab1bc434a7d37d/63a1a36c9bc09f5effc7ce4e/Kylian-Mbappe-trolled-by-PSG-teammates-with-bizarre-present.jpeg"
          alt="Dak Prescott">
        <div class="card-body text-center">
          <h5 class="card-title">Kylian Mbappé</h5>
          <p class="card-text"><strong>Equipo:</strong> Real Madrid</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card shadow-lg">
        <img class="card-img-top"
          src="https://www.reuters.com/resizer/v2/GJ42VKUW2VIDXOZSYFENA6HN3A.jpg?auth=14b199d8fcf47e90b8f63c95ed945bcdd32a6490fb6dd72df7270998a0bef2e8&height=1920&width=1920&quality=80&smart=true"
          alt="Aaron Rodgers">
        <div class="card-body text-center">
          <h5 class="card-title">Vinicius Junior</h5>
          <p class="card-text"><strong>Equipo:</strong> Real Madrid</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card shadow-lg">
        <img class="card-img-top"
          src="https://upload.wikimedia.org/wikipedia/commons/b/b2/Hausziege_04.jpg"
          alt="Justin Fields">
        <div class="card-body text-center">
          <h5 class="card-title">Leo Messi</h5>
          <p class="card-text"><strong>Equipo:</strong> Inter Miami</p>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container mt-5">
  <h2 class="text-center mb-4">¿Qué es Fantasy Sports?</h2>
  <p class="text-center">Fantasy Sports es un juego en el que los participantes actúan como gerentes generales de
    equipos virtuales de fútbol americano profesional. Los equipos compiten basándose en las estadísticas de los
    jugadores en la vida real.</p>
  <h2 class="text-center mt-5 mb-4">¿Cómo jugar Fantasy Sports?</h2>
  <p class="text-center">Para jugar Fantasy Sports, primero debes unirte o crear una liga. Luego, seleccionas
    jugadores en un draft para formar tu equipo. Cada semana, tus jugadores ganan puntos basados en su rendimiento en
    los partidos reales. El objetivo es acumular más puntos que tus oponentes.</p>
</div>