<!-- src/app/components/layout/chat/chat.component.html -->
<div class="chat-container">
  <h2>
    Welcome, <span id="user"></span>
  </h2>
  <div id="messages" class="message-list"></div>
  <form (ngSubmit)="sendMessage($event)">
    <div class="input-group">
      <input class="form-control" type="text" [(ngModel)]="newMessage" name="newMessage" placeholder="Type your message here..." required>
      <div class="input-group-append">
        <button class="btn btn-primary" type="submit">Enviar</button>
        <button class="btn btn-secondary" type="button" (click)="triggerFileInput()">Añadir archivo</button>
      </div>
    </div>
    <input type="file" id="fileInput" style="display: none;" (change)="handleFileInput($event)">
  </form>
</div>